[submodule "includes/ComicManager/includes/taxonomy-to-post_type-sync"]
	path = includes/ComicManager/includes/taxonomy-to-post_type-sync
	url = git://github.com/mjangda/taxonomy-to-post_type-sync.git
